# PostgreSQL
POSTGRES_DB=cotizador_danos
POSTGRES_USER=admin
POSTGRES_PASSWORD=<cambiar>

# Backend
NODE_ENV=development
PORT=3000

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@cotizador.com
PGADMIN_DEFAULT_PASSWORD=<cambiar>

# Frontend
VITE_API_URL=http://localhost:3000
